@import url("https://fonts.cdnfonts.com/css/academy-engraved-let");
@import url("./responsive.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:hover {
  box-shadow: 2px 2px black;
}

button:active {
  box-shadow: none;
}

body {
  background: linear-gradient(#ffe7d1 100%, #fff2e5 100%);
  padding: 0 26px;
}

header {
  height: 100px;
  border: 1px solid black;
  display: grid;
  justify-content: space-between;
  /* justify-items: center; */
  align-items: center;
  padding: 0 94px;
  grid-template-columns: auto auto auto;
}

header > h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Academy Engraved LET", sans-serif;
  color: black;
}

nav > a {
  font-size: 20px;
  font-family: "Academy Engraved LET", sans-serif;
  color: black;
  position: relative;
}

nav > a::after {
  content: "";
  width: 0px;
  background: #000;
  transition: 0.2s;
}

nav > a:hover:after {
  width: 100%;
  display: block;
  height: 1px;
  position: absolute;
}

header > button {
  width: 200px;
  height: 48px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.67px;
  border: 2px solid black;
  font-family: "Academy Engraved LET", sans-serif;
  background-color: #ed4d1b;
  box-shadow: 4px 4px black;
  text-transform: uppercase;
  color: white;
}

nav {
  display: flex;
  gap: 61px;
}

main {
  width: 100%;
  height: auto;
  padding: 20px 0 200px 0;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

main > span {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 112px;
}

main > img {
  width: 60%;
  /* height: 561px; */
  min-width: 328px;
}

span > h2 {
  width: 474px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  font-size: 64px;
}

span > p {
  width: 368px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  font-size: 24px;
}

span > button {
  width: 225px;
  height: 48px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.67px;
  border: 2px solid black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ed4d1b;
  box-shadow: 4px 4px black;
  text-transform: uppercase;
  color: white;
}

.heroArrow {
  display: flex;
  margin-left: 140px;
  width: 105px;
  margin-top: -40px;
  height: 97px;
}

.heroTitle {
  color: #ed4d1b;
}

.heroTextContainer {
  display: flex;
}

.heroTextContainer > img {
  margin-top: -20px;
}

section {
  width: 100%;
  height: 666px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 272px;
  height: 306px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 33px;
  padding-top: 27px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 2px 2px black;
  cursor: pointer;
}

.card > img {
  width: 64px;
  height: 64px;
  display: block;
  align-self: flex-end;
  margin-top: 35px;
}

.card > img:hover {
  cursor: pointer;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-content > img {
  width: 48px;
  height: 48px;
}

.card-content > p {
  width: 220px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.card-content > h3 {
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
}

section > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: -100px;
}

.card-yellow {
  background-color: #ff9a3c;
  margin-top: 20px;
}

.card-orange {
  background-color: #ed4d1b;
}

section > p {
  width: 474px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  font-size: 64px;
  font-weight: bold;
  margin-top: 126px;
}

section > p > span {
  color: #ed4d1b;
}

section > button {
  width: 225px;
  height: 48px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.67px;
  border: 2px solid black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ed4d1b;
  box-shadow: 4px 4px black;
  text-transform: uppercase;
  color: white;
  margin-top: 64px;
}

footer {
  width: 100%;
  height: 403px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  border: 1px solid black;
  padding: 0 20px;
}

footer > .description {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.description h3 p {
  font-weight: 900;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.description h3 {
  font-weight: 900;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 150px;
  margin: 0;
  padding: 0;
}

.description > p {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

footer > .links {
  width: 176px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 170px;
}

.links > a {
  color: black;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
}

.links > a::after {
  content: "";
  width: 0px;
  background: #000;
  transition: 0.2s;
}

.links > a:hover:after {
  width: 60px;
  display: block;
  height: 1px;
  position: absolute;
}

.footer-section {
  display: flex;
  flex-direction: column;
  width: 560px;
  gap: 32px;
}

.footer-section > p {
  color: black;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-section > input {
  max-width: 560px;
  flex-grow: 1;
  flex-shrink: 1;
  height: 48px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  padding-left: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.footer-section > button {
  width: 225px;
  height: 48px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.67px;
  border: 2px solid black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ed4d1b;
  box-shadow: 4px 4px black;
  text-transform: uppercase;
  color: white;
}

.footer-section > button:hover {
  box-shadow: 2px 2px black;
}

.footer-section > button:active {
  box-shadow: none;
}

@media (max-width: 1310px) {
  span > h2 {
    width: auto;
  }
  span > p {
    width: auto;
    /* text-align: center; */
  }

  section > .container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: auto auto; */
    height: auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }

  .bateria {
    grid-column: 2;
  }

  section {
    height: auto;
    padding-bottom: 30px;
  }
}

@media (max-width: 1040px) {
  main {
    flex-direction: column;
    height: auto;
  }

  main > span {
    padding: 0;
    /* align-items: center;
    justify-content: center; */
  }
}

@media (max-width: 1070px) {
  header {
    display: grid;
    grid-template-columns: auto;
    height: auto;
    padding: 30px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 10px;
  }

  section > .container {
    display: grid;
    grid-template-columns: auto auto;
    /* flex-direction: column; */
    height: auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }

  section {
    height: auto;
    padding-bottom: 30px;
  }

  footer {
    display: grid;
    grid-template-columns: auto auto;
    height: auto;
    padding: 30px;
  }

  footer > .links {
    height: auto;
  }

  .footer-section {
    width: auto;
  }
}

@media (max-width: 725px) {
  span > h2 {
    width: auto;
    height: auto;
    text-align: center;
  }

  span > p {
    width: auto;
    height: auto;
    text-align: center;
  }

  .heroTextContainer > img {
    width: auto;
    height: auto;
  }

  main > span {
    width: auto;
    align-items: center;
    padding: 0 30px;
  }

  .heroTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer > .description {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 680px) {
  main > span > h2 {
    font-size: 48px;
  }

  .heroTextContainer > p {
    font-size: 48px;
  }

  .heroTextContainer > img {
    font-size: 48px;
  }

  main > span > p {
    font-size: 20px;
  }

  section > .container {
    grid-template-columns: auto;
  }

  section > p {
    font-size: 40px;
  }

  section > p > span {
    font-size: 40px;
  }

  .card-yellow {
    margin-left: 10px;
  }

  .bateria {
    grid-column: auto;
  }

  footer {
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    gap: 70px;
  }

  footer > .links {
    align-items: center;
  }

  .description > p {
    font-size: 16px;
  }

  .links > a {
    font-size: 20px;
  }

  section > p {
    width: auto;
    text-align: center;
    padding: 0 15px;
  }

  .footer-section {
    align-items: center;
  }

  .footer-section > p {
    text-align: center;
  }
}

@media (max-width: 610px) {
  nav {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }
}
